LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "scl" SITE "D7";
IOBUF PORT "scl" IO_TYPE=LVCMOS33 PULLMODE=NONE;

LOCATE COMP "sda" SITE "E6";
IOBUF PORT "sda" IO_TYPE=LVCMOS33 PULLMODE=NONE;

FREQUENCY PORT "clk" 12.000000 MHz;
